.Intro {
    margin-top: -25px;
    height: 1000px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}

.About {
    /* border: 1px solid white; */
    position: absolute;
    top: 45%;
    left: 45%;
}